// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@import '../../node_modules/bootstrap/scss/bootstrap';

// mixins
@import 'mixin-titulo-h1.scss';
@import 'mixin-button.scss';

// VAR COLOR

$colorblack80: rgb(70, 70, 70);
$colorblaulogo: rgb(39, 58, 129);
$colorblausecundari: rgb(11, 125, 214);
$backgroundgrey: rgb(233, 233, 233);
$whitesmoke: whitesmoke;
$vermellVallbona: rgb(187, 0, 0);

html {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: $colorblack80;
}

body {
    color: $colorblack80 !important;
}

// LOGIN COLOR

.colorvb {
    background-color: $vermellVallbona !important;
}

.btnlogin {
    background-color: $danger !important;
    color: $whitesmoke !important;
}

// WELCOME PAGE CONFIGURATION

.container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;

}

/*Nav*/

.colorbg {
    background-color: $colorblaulogo !important;
}

.linkLogo {
    transition-property: display;
    transition-duration: 3s;
}

/*Imatge principal*/

.containerimgdisco {
    width: 100%;

    .imgdisco {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

}

/* Titulars h1*/

.tittle-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $colorblaulogo;
    width: 100% !important;
    padding-left: 16.3%;
    color: $whitesmoke;
}



/*Div text*/

.container-text {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
        text-align: justify;
    }
}

/* Adaptabilitat i compromís*/


.section-activity {
    display: flex;
    max-height: 500px;
    overflow: hidden;

    .subsection-img {
        width: 50%;

        img {
            height: auto;
            object-fit: fill;
        }
    }

    .subsection-text {
        width: 50%;
        background-color: $backgroundgrey;
        animation: changeColor 6s ease;

        .section-div-text-margins {
            margin: 40px;
            margin-right: 30%;

            h1 {
                color: $colorblaulogo;
            }

            h2 {
                color: $colorblack80;
            }
        }
    }
}

.subbutton-section {
    background-color: transparent;
    color: $colorblausecundari;
    border: none;
    border-bottom: 2px solid $colorblausecundari;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 0;
    font-weight: bold;
    font-size: large;
    text-align: left;
}

.adaptabilitat-compromis-mvl {
    display: none;
}

/* Compromís */

.section-div-video {
    width: 50%;
    height: auto;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}


@keyframes changeColor {
    0% {
        background-color: $backgroundgrey;
    }

    25% {
        background-color: white;
    }

    50% {
        background-color: rgb(221, 221, 221);
    }

    100% {
        background-color: $backgroundgrey;
    }
}

/* Serveis */

.serv-container {
    margin-top: 20px;

    .row {
        display: flex;
        justify-content: center;

        .serv {

            .servicio {
                width: 100%;
                margin-top: 20px;

                img {
                    width: 100%;
                    min-height: 195px;
                    max-height: 195px;
                    object-fit: cover;
                }

                .titulo-serv {
                    text-align: center;
                    text-overflow: ellipsis;
                }

                .description-prod {
                    text-align: center;
                    min-height: 200px;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}



.margin-serveis {
    margin-bottom: 40px;
}

/* Form */

.form-section {
    background-color: $colorblaulogo;
    width: 100%;
    margin: auto;

    .div-form-section {

        width: 100%;

        h1 {
            padding-top: 40px;
            color: $whitesmoke;
        }

        hr {
            color: $whitesmoke;
            border: 3px solid $whitesmoke;
        }

        form {

            label,
            input,
            textarea {
                width: 100%;
            }

            label {
                font-weight: bold;
                color: $whitesmoke;
            }

            div {
                margin-bottom: 20px;
            }

            .colorbutton {
                background-color: $colorblausecundari;
                color: $whitesmoke;
            }

            button:hover {
                color: $colorblaulogo;
            }
        }

        .textlegal {
            color: $whitesmoke;
            width: 100%;
            font-weight: 100;
        }
    }
}

button:hover {
    color: $colorblaulogo;
}

@media screen and (max-width: 1262px) {

    /* Adaptabilitat i control */
    .section-activity {
        max-height: 600px;
    }

}

@media screen and (max-width: 1155px) {

    /* Adaptabilitat i control */
    .section-activity {
        max-height: 700px;
    }

}

@media screen and (max-width: 965px) {

    /* Adaptabilitat i control */
    .adaptabilitat-compromis {
        display: none;
    }

    .adaptabilitat-compromis-mvl {
        display: contents;

        .tittle-container-h2 {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $colorblausecundari;
            width: 100% !important;
            padding-left: 16.3%;
            color: $whitesmoke;
        }

        .div-video {
            width: 100%;
            max-height: 500px;
            overflow: hidden;

            video {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 965px) {

    /*Serveis*/
    .serv-container {
        margin-top: 20px;

        .row {
            .serv {
                .servicio {
                    .description-prod {
                        min-height: 80px;
                    }
                }
            }
        }
    }

    /*Form*/
    .form-section {
        .div-form-section {
            .textlegal {
                font-size: smaller;
            }
        }
    }

}

// EMPRESES

.container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

// Header

.headercv {
    padding-top: 20px;
    padding-bottom: 20px;
}

// Navbar

.navbarcv {
    background-color: $vermellVallbona;

    div {
        div {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $whitesmoke;
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .nav-link:hover {
                        color: $colorblack80;
                    }

                    .logout {
                        border-left: 1px solid $whitesmoke;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

// Section List Empreses

.section-list-companies {

    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 80px;

    .div-btn-create-new {
        display: flex;
        justify-content: end;

        .btn {
            margin-top: 1.5vw;
            background-color: $vermellVallbona;
            border: 0px;
        }

        .btn:hover {
            color: $colorblack80;
        }
    }

    h1 {
        font-weight: 500;
        font-size: xx-large;
        margin-bottom: 2vh;
    }

   table {
        table-layout: fixed;
        thead {
            tr {
                td {
                    font-weight: bold;
                }

                .options {
                    text-align: center;
                    word-break: break-all !important;
                    white-space: nowrap !important;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .colab {
                    text-align: center;
                    word-break: break-all !important;
                    white-space: nowrap !important;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 150px !important;
                }
            }
        }

        tbody {
            overflow-y: auto;
            width: 100%;

            tr {
                td {
                    word-break: break-all !important;
                    white-space: nowrap !important;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 150px !important;

                }
            }
        }

    }

    ul {
        justify-content: flex-end;
    } 
}





 @media screen and (max-width: 1345px) {

    .tableContent {
        thead {
            tr {
                th:nth-child(8) {
                    display: none;
                }
            }
        }
        tbody {
            tr {
                td:nth-child(8) {
                    display: none;
                }
            }
        }
    }
} 

@media screen and (max-width: 1324px) {

    .tableContent {
        thead {
            tr {
                th:nth-child(7) {
                    display: none;
                }
            }
        }

        tbody {
            tr {
                td:nth-child(7) {
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 1085px) {

    .tableContent {
        thead {
            tr {
                th:nth-child(6) {
                    display: none;
                }
            }
        }

        tbody {
            tr {
                td:nth-child(6) {
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 984px) {

    .navbarcv {

        div {
            div {
                .navbar-nav {
                    .nav-item {
                        .logout {
                            border-left: 0px;
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 880px) {

    .tableContent {
        thead {
            tr {
                th:nth-child(5) {
                    display: none;
                }
            }
        }

        tbody {
            tr {
                td:nth-child(5) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 654px) {

    .tableContent {
        thead {
            tr {
                th:nth-child(4) {
                    display: none;
                }
            }
        }

        tbody {
            tr {
                td:nth-child(4) {
                    display: none;
                }
            }
        }
    }

}

@media screen and (max-width: 500px) {

    .headercv {
        padding: 0px;
    }

    .section-list-companies {
        .div-btn-create-new {
            .btn {
                margin-top: 3vh;
                margin-bottom: 3vh;

            }
        }

        .tableContent {
            thead {

                tr {
                    td {
                        width: 50px;
                    }

                    th:nth-child(3) {
                        display: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        width: 20px !important;
        
                    }

                    td:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

    }
}   